<div class="item-wrap left-50 left">
  <div class="component-wrap">
    <div class="item-name"> Fixed Navbar </div>
    <div class="info-wrap clearfix">
      <div class="item-class f-left"> .fixed-navbar  + fixed-scroll-wrap </div>
      <div class="toggle-code f-right btn"> &#x3C;/&#x3E; </div>
    </div>
    <div class="margin-5"></div>
    <pre class="hidden" ><code data-language="html"
  >&lt;div class=&quot;mock-layout&quot;&gt;
  &lt;div class=&quot;fixed-navbar&quot;&gt;
    .fixed-navbar
  &lt;/div&gt;
  &lt;div class=&quot;fixed-scroll-wrap&quot;&gt;
    &lt;div&gt; ... &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
    <div class="margin-5"></div>
    <div class="mock-layout navbar-example">
      <div class="fixed-navbar">
        .fixed-navbar
      </div>
      <div class="fixed-scroll-wrap">
        <div> .fixed-scroll-wrap </div>
        <div> ... </div><div> ... </div><div> ... </div><div> ... </div>
        <div> ... </div><div> ... </div><div> ... </div><div> ... </div>
        <div> ... </div><div> ... </div><div> ... </div><div> ... </div>
        <div> ... </div><div> ... </div><div> ... </div><div> ... </div>
        <div> ... </div><div> ... </div><div> ... </div><div> ... </div>
        <div> ... </div><div> ... </div><div> ... </div><div> ... </div>
      </div>
    </div>
  </div>
</div>
<div class="margin-20 left-100 phone-tablet"></div>
<div class="item-wrap left-50 right">
  <div class="component-wrap">
    <div class="item-name"> Fixed Footer </div>
    <div class="info-wrap clearfix">
      <div class="item-class f-left"> fixed-scroll-wrap + .fixed-footer </div>
      <div class="toggle-code f-right btn"> &#x3C;/&#x3E; </div>
    </div>
    <div class="margin-5"></div>
    <pre class="hidden" ><code data-language="html"
  >&lt;div class=&quot;mock-layout&quot;&gt;
  &lt;div class=&quot;fixed-scroll-wrap&quot;&gt;
    &lt;div&gt; ... &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;fixed-footer&quot;&gt;
    .fixed-footer
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
    <div class="margin-5"></div>
    <div class="mock-layout footer-example">
      <div class="fixed-scroll-wrap">
        <div> .fixed-scroll-wrap </div>
        <div> ... </div><div> ... </div><div> ... </div><div> ... </div>
        <div> ... </div><div> ... </div><div> ... </div><div> ... </div>
        <div> ... </div><div> ... </div><div> ... </div><div> ... </div>
        <div> ... </div><div> ... </div><div> ... </div><div> ... </div>
        <div> ... </div><div> ... </div><div> ... </div><div> ... </div>
        <div> ... </div><div> ... </div><div> ... </div><div> ... </div>
      </div>
      <div class="fixed-footer">
        .fixed-footer
      </div>
    </div>
  </div>
</div>
<div class="margin-20 left-100"></div>
<div class="item-wrap left-100">
  <div class="component-wrap">
    <div class="item-name"> Fixed Layout </div>
    <div class="info-wrap clearfix">
      <div class="item-class f-left">
        body.fixed-body
      </div>
      <div class="toggle-code f-right btn"> &#x3C;/&#x3E; </div>
    </div>
    <div class="margin-5"></div>
    <pre class="hidden" ><code data-language="html"
>&lt;body class=&quot;fixed-body&quot;&gt;
  &lt;div class=&quot;fixed-navbar&quot;&gt;...&lt;/div&gt;
  &lt;div class=&quot;fixed-scroll-wrap&quot;&gt;...&lt;/div&gt;
  &lt;div class=&quot;fixed-footer&quot;&gt;...&lt;/div&gt;
&lt;/body&gt;</code></pre>
    <div class="margin-5"></div>
    <div class="mock-layout footer-example clearfix">
      <iframe class="layout-iframe left-75" src="/layouts">
      </iframe>
      <a href="/layouts" target="_blank" class="left-25 arrow-wrap btn">
        <div class="arrow right"></div>
      </a>
    </div>
  </div>
</div>

