<div class="item-wrap left-50 left">
  <div class="component-wrap">
    <div class="item-name"> Float Left % Width </div>
    <div class="info-wrap clearfix">
      <div class="item-class f-left"> .left-( 1 ... 100 ) </div>
      <div class="toggle-code f-right btn"> &#x3C;/&#x3E; </div>
    </div>
    <div class="margin-5"></div>
    <pre class="hidden" ><code data-language="html"
  >&lt;div&gt;
  &lt;div class=&quot;left-100&quot;&gt; left-100 &lt;/div&gt;
  &lt;div class=&quot;left-20&quot;&gt; left-20 &lt;/div&gt;
  &lt;div class=&quot;left-60&quot;&gt; left-60 &lt;/div&gt;
  &lt;div class=&quot;left-20&quot;&gt; left-20 &lt;/div&gt;
  &lt;div class=&quot;left-75&quot;&gt; left-75 &lt;/div&gt;
&lt;/div&gt;</code></pre>
    <div class="margin-5"></div>
<div>
  <div class="width-example left-100"> left-100 </div>
  <div class="width-example left-20"> left-20 </div>
  <div class="width-example left-60"> left-60 </div>
  <div class="width-example left-20"> left-20 </div>
  <div class="width-example left-75"> left-75 </div>
</div>
  </div>
</div>
<div class="margin-20 left-100 phone-tablet"></div>
<div class="item-wrap left-50 right">
  <div class="component-wrap">
    <div class="item-name"> Float Right % Width </div>
    <div class="info-wrap clearfix">
      <div class="item-class f-left"> .right-( 1 ... 100 ) </div>
      <div class="toggle-code f-right btn"> &#x3C;/&#x3E; </div>
    </div>
    <div class="margin-5"></div>
    <pre class="hidden" ><code data-language="html"
  >&lt;div&gt;
  &lt;div class=&quot;right-100&quot;&gt; right-100 &lt;/div&gt;
  &lt;div class=&quot;right-20&quot;&gt; right-20 &lt;/div&gt;
  &lt;div class=&quot;right-60&quot;&gt; right-60 &lt;/div&gt;
  &lt;div class=&quot;right-20&quot;&gt; right-20 &lt;/div&gt;
  &lt;div class=&quot;right-75&quot;&gt; right-75 &lt;/div&gt;
&lt;/div&gt;</code></pre>
    <div class="margin-5"></div>
    <div>
      <div class="width-example right-100"> right-100 </div>
      <div class="width-example right-20"> right-20 </div>
      <div class="width-example right-60"> right-60 </div>
      <div class="width-example right-20"> right-20 </div>
      <div class="width-example right-75"> right-75 </div>
    </div>
  </div>
</div>

